
body {
    padding-top: 50px;
}

.highlight {
     background-color: aqua;
}

.small-box {
    width: 300px;
}

#scrollerBox {
    position: relative;
    height: 400px;
    overflow: auto;
    border: solid 1px #ccc;
}